html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.images {
  padding-top: 5px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 10px;
}
.btn-generate {
  margin-top: 20px;
}
.layers {
  margin-top: 10px;
}
.label {
  margin-top: 10px;
  margin-right: 10px;
}
.layers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.layer {
  width: 430px;
  margin-top: 10px;
  border: 1px solid #8c8c8c;
  border-radius: 6px;
  padding: 10px;
  min-height: 100px;
}
