html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(#e66465, #9198e5);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.images {
  padding-top: 5px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 10px;
}
.btn-generate {
  margin-top: 20px;
}
.layers {
  margin-top: 10px;
}
.label {
  color: white;
  margin-top: 10px;
}
